<nav class="navbar navbar-light bg-light navbar-expand">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Заявки</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/form">Запись к врачу</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Логин</a>
        </li>
    </ul>
</nav>